        body {
            font-family: 'Public Sans', sans-serif;
        }
        
        .navbar {
            padding: 0 !important;
        }
        
        .active {
            background: linear-gradient( to left, rgb(43, 185, 208) 0%, rgb(45, 190, 185) 12%, rgb(47, 200, 141) 47%, rgb(49, 208, 108) 100%) left bottom #fff no-repeat;
            background-size: 100% 6px;
        }
        
        .navbar-light .navbar-toggler-icon {
            transition: all .2s;
        }
        
        .icon-close {
            background-image: url(../images/icon-close.svg) !important;
            width: 20px;
            height: 20px;
        }
        
        .navbar-light .navbar-toggler {
            border-color: transparent;
        }
        
        $bg-site: #F4F5F7;
        $color-parg: #95969A;
        $color-title: #333446;
        /*start why chooes*/
        
        %color-parg {
            color: $color-parg;
        }
        
        %color-title {
            color: $color-title;
        }
        
        .btn-custom {
            background: #85e3a5;
            background: -moz-linear-gradient(left, #31d167 0%, #2cbcc5 100%);
            background: -webkit-linear-gradient(left, #31d167 0%, #2cbcc5 100%);
            background: linear-gradient(left, #31d167 0%, #2cbcc5 100%);
            color: white;
            border-radius: 20px;
            padding: 7px 30px;
            &:hover {
                color: white;
            }
        }
        
        header {
            .nav-item {
                padding: 10px 5px;
                &:hover {
                    background: linear-gradient( to left, rgb(43, 185, 208) 0%, rgb(45, 190, 185) 12%, rgb(47, 200, 141) 47%, rgb(49, 208, 108) 100%) left bottom #fff no-repeat;
                    background-size: 100% 6px;
                    border-image: linear-gradient(to left, #743ad5, #d53a9d);
                }
            }
            .header-bottom {
                background-color: #FAFAFA;
                height: auto;
                position: relative;
                .header-bottom__title {
                    font-size: 54px;
                    margin-top: 66px;
                }
                .header-bottom__parg {
                    @extend %color-parg;
                    font-size: 21px;
                }
                .next {
                    height: 480px;
                }
                .bg {
                    background: url(../images/bg-intro-desktop.svg);
                    width: 776px;
                    height: 697px;
                    background-position: -69px -252px;
                    background-repeat: no-repeat;
                    .img {
                        background-image: url(../images/image-mockups.png);
                        width: 775px;
                        height: 964px;
                        background-position: 118px -100px;
                        background-repeat: no-repeat;
                    }
                }
                .btn-custom {
                    width: 180px !important;
                }
            }
        }
        
        @media (max-width:375px) {
            .navbar-light .navbar-toggler-icon {}
            .navbar-collapse {
                position: fixed;
                top: 104px;
                width: 80%;
                z-index: 1001;
                background-color: rgb(255, 255, 255);
                left: 32px;
                text-align: center;
                .btn-custom {
                    display: none;
                }
            }
            header .header-bottom {
                height: 1200px;
                padding: 13px 14px !important;
            }
            .navbar-toggler {
                border-color: transparent;
            }
            .navbar {
                padding: 20px 10px !important;
            }
            .block_next_info {
                order: 2;
                height: 400px;
            }
            .block_img {
                order: 1;
                .bg {
                    background: url(../images/bg-intro-mobile.svg) !important;
                    background-repeat: no-repeat !important;
                    width: 389px !important;
                    height: 448px !important;
                    background-position: 5px 0px !important;
                    margin: -2px -20px !important;
                    .img {
                        width: 369px !important;
                        height: 427px !important;
                        background-position: 11px -103px !important;
                        background-repeat: no-repeat !important;
                        background-size: cover !important;
                    }
                }
            }
        }
        
        .why_chooes {
            padding: 40px;
            background-color: $bg-site;
            .why_chooes___title {
                @extend %color-title;
                font-size: 41px;
            }
            .why_chooes__parg {
                @extend %color-parg;
                font-size: 18px;
            }
            .why_chooes__info {
                .why_chooes__info__title {
                    @extend %color-title;
                }
                .why_chooes__info__parg {
                    @extend %color-parg;
                }
            }
        }
        
        @media (max-width: 375px) {
            .why_chooes,
            footer {
                text-align: center;
            }
        }
        
        .lastest_articles {
            background-color: #FAFAFA;
            padding: 40px;
            .lastest_articles__title {
                font-size: 12px;
                color: #bdbcc1;
            }
            .lastest_articles__title__parg {
                font-size: 17px;
                &:hover {
                    color: #76c4aa;
                }
            }
            p {
                color: #bdbcc1;
                font-size: 13px;
            }
        }
        
        footer {
            background-color: #2d314e;
            padding: 48px;
            height: auto;
            .logo-and-slinks {
                .logo-footer {
                    padding-bottom: 5px;
                }
                .s-links {
                    padding: 20px 0;
                    svg {
                        padding: 5px;
                        fill: #fff;
                        &:hover{
                            fill: #31cf6f;
                        }
                    }
                }
            }
            li a {
                padding-bottom: 15px;
                display: block;
                color: #fff;
                text-decoration: none !important;
                &:hover {
                    color: #31cf6f;
                }
            }
        }